body {
  background-color: white;
  color: black;
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:300;
  margin:15px;
  background:url();
}

#special {
  left:-200px;
  right:200px;
  margin-right:200px;
}

#special a {
  opacity:0.7;
  margin-right:60;
  text-decoration:none;
  background:none;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   -o-transition: opacity .25s ease-in-out;
   -ms-transition: opacity .25s ease-in-out;
}

#special a:hover {
  text-decoration:underline;
  opacity:1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   -o-transition: opacity .25s ease-in-out;
   -ms-transition: opacity .25s ease-in-out;
}

.button {
    background-color: #FFF; /* Green */
    border: none;
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
